<!DOCTYPE html>

<html>
    <head>
        <title>
            Додавання оголошень
        </title>
    </head>
    <body>
        <div>
            <a href="/bboard/">Головна</a>
            <a href="{% url 'add' %}">Добавити</a>
            {% for rubric in rubrics %}
                <a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
            {% endfor %}
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Відправити">
            </form>
        </div>
    </body>
</html>

